ETL using BSE api and loading to mysql

In [1]:
import pandas as pd
from bsedata.bse import BSE 
import time

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

excel_stocks = "https://github.com/suhascp7/bse_py/raw/refs/heads/master/Equity.xlsx"
engine_excel = 'openpyxl'
stockDf = pd.read_excel(excel_stocks,engine=engine_excel)
stockDf.head(2)

   Security Code           Issuer Name Security Id         Security Name  Status Group  Face Value       ISIN No                    Industry Instrument  Sector Name            Industry New Name           Igroup Name              ISubgroup Name
0         500002     ABB India Limited         ABB     ABB India Limited  Active    A          2.0  INE117A01022  Heavy Electrical Equipment     Equity  Industrials                Capital Goods  Electrical Equipment  Heavy Electrical Equipment
1         500003  Aegis Logistics Ltd.    AEGISLOG  AEGIS LOGISTICS LTD.  Active    A          1.0  INE208C01025               Trading - Gas     Equity       Energy  Oil, Gas & Consumable Fuels                   Gas               Trading - Gas

Getting nifty50, from the whole market

In [2]:
listOf_Nifty50_Stocks = [ 
    "ADANIENT", "ADANIPORTS", "APOLLOHOSP", "ASIANPAINT", "AXISBANK",
    "BAJAJ-AUTO", "BAJFINANCE", "BAJAJFINSV", "BPCL", "BHARTIARTL",
    "BRITANNIA", "CIPLA", "COALINDIA", "DIVISLAB", "DRREDDY", "EICHERMOT",
    "GRASIM", "HCLTECH", "HDFCBANK", "HDFCLIFE", "HEROMOTOCO", "HINDALCO",
    "HINDUNILVR", "ICICIBANK", "ITC", "INDUSINDBK", "INFY", "JSWSTEEL",
    "KOTAKBANK", "LTIM", "LT", "M&M", "MARUTI", "NTPC", "NESTLEIND",
    "ONGC", "POWERGRID", "RELIANCE", "SBILIFE", "SBIN", "SUNPHARMA",
    "TCS", "TATACONSUM", "TATAMOTORS", "TATASTEEL", "TECHM", "TITAN",
    "UPL", "ULTRACEMCO", "WIPRO"
]

stockDf['Security Code']= stockDf['Security Code'].astype(str)
nifty50 = stockDf[stockDf['Security Id'].isin(listOf_Nifty50_Stocks)].reset_index(drop=True)
nifty50.columns = nifty50.columns.str.replace(' ', '')

In [3]:
bseObject = BSE(update_codes=True)

In [4]:
listof_stocksDict= []
seqCode = nifty50['SecurityCode']
for code in seqCode:
    try:
        dictStock = bseObject.getQuote(code)
        dictStock.pop('sell')
        dictStock.pop('buy')
        listof_stocksDict.append(dictStock)
    except IndexError:
        print(f'IndexError for {code}, data not available')


nifty50Today = pd.DataFrame(listof_stocksDict)